$navColor: #697CA6;
$navHoverCol: #5E81FE;
$btnColBackBlue: #D2E1FF;
$btnColTextBlue: #3A79FF;
$btnBordRad: 2px;
$onAndTitleCol: #3D4F9F;
$paragraphCol: #8D96BD;
$blueTitleText: #3D4F9F;
$grayParagraphCol: #8D96BD;
$sectionBackColWhiteBlue: #F5F8FF;
$blueBtnBack: #4C85FF;
$whiteCol: #FFF;
$grayBtnCol: #ADB4D2;
$blueGrayIconsBack: #F1F5FF;
$blueIconsNames: #5E81FE;
$blogTitleCol: #3D4F9F;
$quotesLinGradient: linear-gradient(0deg, rgba(246,249,255,1) 0%, rgba(234,240,255,1) 100%);
$quotesTextCol: #A4ABC8;
$cardCustomersCol: #676F95;
$helpMenuBordBotCol: #D8E3FE;
$helpMenuQuestionStandartCol: #8E96B7;
$helpMenuAnswerTextCol: #8D96BD;
$getStartGradient: url('../assets/illustrations/cloudsStart.svg') no-repeat center center, linear-gradient(45deg, rgba(94,128,255,1) 0%, rgba(104,136,255,1) 100%);
$singUpBackCol: #FCFDFF;
$singUpEmailBackCol: #EFEFF7;
$singUpEmailTextCol: #7A85AD;
$submitBackCol: #4D6CE1;
$formBordRad: 5px;