@import '../../../../../styles/variables.scss';

.customerHelp {
  padding: 176px 10px;
  background: $whiteCol;


  .container {
    max-width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    .menu {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 68px;

      
    }
  }
  
  @keyframes dNoneAnswers {
    0% {
      opacity: 1;
      position: static;
    }

    99% {
      opacity: 0;
      position: static;
    }

    100% {
      opacity: 0;
      position: absolute;
    }
  }
  .openElementsClass {
    animation: dNoneAnswers .6s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes dYesAnswers {
    0% {
      opacity: 0;
      position: absolute;
    }

    1% {
      opacity: 0;
      position: static;
    }

    100% {
      opacity: 1;
      position: static;
    }
  }

  .displayOpenElementsClass {
    animation: dYesAnswers .6s linear 1;
    animation-fill-mode: forwards;
  }
}

