.partners {
  display: flex;
  justify-content: center;
  padding: 58px 0;

  .wrapper {
    max-width: 900px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    transition: .4s;
    padding: 0 15px;
    flex-wrap: wrap;

    &:hover {
      transform: scaleX(1.05);
    }
  }

  .partner {
    padding: 0 7px;
  }

  @media screen and (max-width: 690px) {
    .partner {
      padding: 10px 7px;
    }
  }

  @media screen and (max-width: 291px) {
    .wrapper {
      justify-content: center;
    }
  }
}
